/*ï¼
*Author: Ashuwp
*Author url: http://www.ashuwp.com
*Version: 3.2
*/
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,textarea {
  max-width:100%;
}
.ashu_meta {
  border-bottom:1px solid #ccc;
  margin-bottom:10px;
  padding:10px 0;
}
.ashu_meta_upload {
  position:relative;
}
.ashu_file_view{
  border:1px solid #DFDFDF;
  position:absolute;
  height:100px;
  width:100px;
  top:5px;
  right:5px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
}
input[type=radio].ashu_radio,
input[type=checkbox].ashu_checkbox {
  width:16px;
  height:16px;
}
.meta_box_side .ashu_file_view{
height:32px;
width:32px;
top:5px;
right:5px;
}
.ashu_file_view img{
  max-width:100%;
  height:auto;
  max-height:100%;
}

.meta_box_side .ashu_file_view img{
  height:32px;
}

/* gallery */
ul.gallery_view {
  list-style:none;
  margin:0;
  padding:0;
}
ul.gallery_view li.image {
  display:block;
  width:20%;
  float:left;
  padding:10px;
  text-align:center;
}
ul.gallery_view li.image img {
  display:block;
  width:100%;
  height:auto;
}

/* tabs */
.postbox ul.nav-tabs{
  margin-bottom:15px;
}
ul.nav-tabs {
  list-style:none;
  border-bottom: 1px solid #ddd;
  margin:0;
  padding:0;
}
ul.nav-tabs:before,
ul.nav-tabs:after {
  display: table;
  content: " ";
}
ul.nav-tabs:after {
  clear:both;
}
ul.nav-tabs li {
  position:relative;
  display:block;
  float:left;
  margin-bottom:-2px;
}
ul.nav-tabs li a {
  cursor:pointer;
  position:relative;
  display:block;
  padding:5px 10px;
  margin-right:2px;
  border-radius:4px 4px 0 0;
  text-decoration:none;
  font-size:14px;
  font-weight:bold;
  outline:none;
}
ul.nav-tabs li a:focus {
  box-shadow:none;
}
ul.nav-tabs li a:hover {
  background:#eee;
}
ul.nav-tabs li.active a,
ul.nav-tabs li.active a:focus,
ul.nav-tabs li.active a:hover {
  color:#000;
  background:#fff;
  border:1px solid #ddd;
  border-bottom-color:transparent;
  outline:none;
}
.tab-content>.tab-pane {
  display:none;
}
.tab-content>.active {
  display: block;
}
/**slider**/
#sliderbox .ashu_file_view {
  width:100%;
  height:auto;
  position:relative;
  top:auto;
  rightright:auto;
}
#sliderbox .ashu_file_view img {
  display:block;
  max-width:100%;
  height:auto;
}